/* Logo image */
.navbar-brand {
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand > span > img {
    height: 40px;
}

.navbar-img {
    height: 40px;
    width: 40px;
}

#navbar-img {
    padding-top: 5px;
    padding-bottom: 0;
}

body {
    /* Required padding for Bootstrap navbar */
    padding-top: 60px;
    /* For better user experience when scrolling down */
    margin-bottom: 5em;
}

.row {
    margin-top: 0.5em;
}

div.alert {
    margin-bottom: 0.75em;
}

.title {
    font-size: x-large;
    font-weight: bold;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

.btn {
    margin-right: 1.0em;
}

button.btn-no-margin-right {
    margin-right: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
    margin-left: 0;
}

.align-right {
    text-align: right;
    margin-right: 0;
}


