<!-- Base template for logged-in pages -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} memcpy(): Learn anything with flashcards {% endblock %}
    </title>
    {% load static %}
    <link rel="icon" href="{% static 'memcpy/memcpy_logo.ico' %}" type="image/png" />
    <!-- Bootstrap and jQuery from CDNs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Additional CSS files to link to -->
    <link rel="stylesheet" href="{% static 'memcpy/base.css' %}" />
    {% block css %}
    {% endblock %}
</head>


<body>

<!-- Bootstrap navigation bar -->
{% load static %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Header (logo & brand name): http://stackoverflow.com/questions/20502040/text-next-to-brand -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'logged_in_home' %}">
                <span><img class="img-rounded" src="{% static 'memcpy/memcpy_logo.png' %}"></span>&nbsp;&nbsp;memcpy()
            </a>
        </div>
        <!-- Left-side buttons -->
        <ul class="nav navbar-nav navbar-left">
            <li class="active">
                <a href="{% url 'logged_in_home' %}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{% url 'books' %}">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;Books
                </a>
            </li>
        </ul>
        <!-- Right-side buttons -->
        <ul class="nav navbar-nav navbar-right">
{#            <!-- Profile picture and username -->#}
{#            <!-- Convert user_id to string for comparison:#}
{#                 http://stackoverflow.com/questions/4831306/need-to-convert-a-string-to-int-in-a-django-template#}
{#            -->#}
{#            <li {% if request.resolver_match.url_name == 'profile' and request.resolver_match.kwargs.user_id == request.user.id|slugify %}#}
{#                class="active" {% endif %}>#}
{#                <a href="{% url 'profile' request.user.id %}" id="navbar-avatar">#}
{#                    {% if request.user.profile.picture %}#}
{#                        <img class="navbar-img" src={% url 'picture' request.user.id %}>#}
{#                    {% else %}#}
{#                        <img class="navbar-img" src={% static 'socialnetwork/default_user.svg' %}>#}
{#                    {% endif %}#}
{#                    &nbsp;{{ request.user.username }}#}
{#                </a>#}
{#            </li>#}
{#            <li {% if request.resolver_match.url_name == 'edit' %} class="active" {% endif %}>#}
{#                <a href="{% url 'edit' request.user.id %}">#}
{#                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Edit Profile#}
{#                </a>#}
{#            </li>#}
            <li>
                <a href="{% url 'logout' %}">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Bootstrap top-level container -->
<div class="container">
    <!-- Django messages + Bootstrap alerts + Boostrap Glyphicons -->
    {% include 'memcpy/message_alert.html' %}
    {% block main %}
    {% endblock %}
</div>
</body>
</html>