<!-- Base template for non-logged-in pages. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} memcpy(): Learn anything with flashcards {% endblock %}
    </title>
    {% load static %}
    <link rel="icon" href="{% static 'memcpy/memcpy_logo.png' %}" type="image/png" />
    <!-- Bootstrap and jQuery from CDNs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Additional CSS files to link to -->
    <link rel="stylesheet" href="{% static 'memcpy/base.css' %}" />
{#    <link rel="stylesheet" href="{% static 'memcpy/form.css' %}" />#}
</head>

<body>
<!-- Bootstrap navigation bar -->
{% load static %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Header (logo & brand name): http://stackoverflow.com/questions/20502040/text-next-to-brand -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'non_logged_in_home' %}">
                <span><img class="img-rounded" src="{% static 'memcpy/memcpy_logo.png' %}"></span>&nbsp;&nbsp;memcpy()
            </a>
        </div>
        <!-- Left-side buttons -->
        <ul class="nav navbar-nav navbar-left">
            <li class="active">
                <a href="{% url 'non_logged_in_home' %}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home
                </a>
            </li>
            <li>
                <a href="{% url 'books' %}">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;Books
                </a>
            </li>
        </ul>
        <!-- Right-side buttons -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'login' %}">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Log in
                </a>
            </li>
            <li>
                <a href="{% url 'register' %}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Register
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Bootstrap top-level container -->
<div class="container">
    <!-- Django messages + Bootstrap alerts + Boostrap Glyphicons -->
    {% include 'memcpy/message_alert.html' %}
    {% block main %}
    {% endblock %}
</div>
</body>
</html>