{% extends 'memcpy/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'memcpy/content.css' %}" />
{% endblock %}

{% block title %}memcpy(): Book "{{ book.title }}"{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="title">Book "{{ book.title }}"</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
            {% if book.cover_image %}
                <img class="book" src="{% url 'book_photo' book.id %}"><br>
            {% else %}
                <img class="book" src="{% static 'memcpy/default_book.png' %}"><br>
            {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            Description: {{ book.description }}<br>
            Created by: {{ book.author.username }}<br>
            Laste update: {{ book.timestamp }}
        </div>
    </div>
    <!-- Only the book author can create entries -->
    {% if request.user == book.author %}
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'create-entry' book.id %}" method="get">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create entries
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="title">{{ book.entry_set.count }} entries:</div>
        </div>
    </div>
    <div class="row">
        {% for entry in entry_list %}
            <div class="col-md-3">
                <a href="{% url 'entry' entry.id %}">
                    <div class="thumbnail">
                        {% if entry.question_image %}
                            <img class="entry img-rounded" src="{% url 'entry_photo' entry.id %}" width = "200px">
                        {% else %}
                            <img class="entry img-rounded" src="{% static 'memcpy/default_entry.png' %}">
                        {% endif %}
                        <div class="caption title">{{ entry.answer }}</div>
                    </div>
                </a>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
