{% extends 'memcpy/base.html' %}
{% load static %}

{% block css_js %}
    <link rel="stylesheet" href="{% static 'memcpy/content.css' %}" />
{% endblock %}

{% block title %}memcpy(): Book "{{ book.title }}"{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'books' %}">
                <button class="btn btn-lg btn-primary float-left">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;Back to all books
                </button>
            </a>
            <!-- Only the book author can create entries -->
            {% if request.user == book.author %}
                <form action="{% url 'create-entry' book.id %}" method="get" class="float-left">
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-success">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create entries
                        </button>
                    </div>
                </form>
            {% endif %}
            <!-- A quiz can only start if there are >= 4 entries -->
            {% if entry_list.count >= 4 %}
                <a href="{% url 'quiz' book.id %}">
                    <button class="btn btn-lg btn-danger float-left">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;Quiz on this book
                    </button>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="title">Book "{{ book.title }}"</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
            {% if book.cover_image %}
                <img class="book" src="{% url 'book_photo' book.id %}"><br>
            {% else %}
                <img class="book" src="{% static 'memcpy/default_book.png' %}"><br>
            {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            Description: {{ book.description }}<br>
            Created by: {{ book.author.username }}<br>
            Laste update: {{ book.timestamp }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="title">{{ book.entry_set.count }} entries:</div>
        </div>
    </div>
    {% include 'memcpy/list-entries.html' %}
{% endblock %}
