{% extends 'memcpy/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'memcpy/content.css' %}" />
{% endblock %}

{% block title %}memcpy(): Books{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'create-book' %}" method="get">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create a Book
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="title">Books in memcpy():</div>
        </div>
    </div>
    <div class="row">
        {% for book in books %}
            <div class="col-md-4">
                <a href="{% url 'book' book.id %}">
                    <div class="thumbnail">
                        {% if book.cover_image %}
                            <img class="book img-rounded" src="{% url 'book_photo' book.id %}">
                        {% else %}
                            <img class="book img-rounded" src="{% static 'memcpy/default_book.png' %}">
                        {% endif %}
                        <div class="caption title">
                            {{ book.title }} ({{ book.entry_set.count }} entries)
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
