{% extends 'memcpy/base.html' %}

{% block title %}memcpy(): Books{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for entry in entry_list %}
                    <li>
                        {% if entry.id == current_id %}
                        Question:  {{ entry.question_text }}
                            {% if entry.question_image %}
                            <br />
                            <img src = "{% url 'entry_photo' entry.id %}" width = "200px">
                            {% endif %}
                        <br>
                        Answer: {{ entry.answer }}
                        <br />
                            {% if next_id %}
                                <a href="{% url 'entry' next_id %}"><button>Next!</button></a>
                            {% endif %}
                            {% if next_id == 0 %}
                                <a> The end of this book!</a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
