{% extends 'memcpy/base.html' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            {% if not user.is_authenticated %}
                <h1>memcpy(): Learn anything with flashcards</h1>
                <h3>{{ user_num }} users have created xxx books, xxx entries, and xxx flashcards</h3>
            {% endif %}
            <h1>Flashcard of the Day:</h1>
            {% if user.is_authenticated %}
                <h1>Recently learned books:</h1>
                <h1>Other interesting books:</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
