{% extends 'memcpy/base.html' %}

{% block main %}
    {% if not user.is_authenticated %}
        <div class="row">
            <h1>memcpy(): Learn anything with flashcards</h1>
            <h3>{{ user_num }} users have created {{ book_num }} books, {{ entry_num }} entries, and {{ flashcard_num }} flashcards</h3>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <!-- MW dictionary has a good style: https://www.merriam-webster.com/word-of-the-day -->
            <div class="title text-center">Flashcard of the Day: {{ date }}
            <br>
                {% if fc_today.text %}
                 {{ fc_today.text }}
                {% endif %}
            <br>
                {% if fc_today.image %}
                 <img src="{% url 'flashcard_photo' fc_today.id %}"  width="200px">
                {% endif %}
                {% if fc_today.audio %}
                {{ fc_today.audio }}
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'create-book' %}" method="get">
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-success">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create a Book
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title">Recently learned books:</div>
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <div class="title">Other interesting books:</div>#}
{#            </div>#}
{#        </div>#}
    {% endif %}

{% endblock %}
