{% extends 'memcpy/base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'memcpy/form.css' %}" />
{% endblock %}

{% load addcss %}

{% block main %}
    {% if form.errors %}
        <!-- Workaround: explicitly create a Bootstrap alert without receiving Django messages -->
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- Use the Glyphicon that corresponds to the message tag -->
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            &nbsp;Incorrect username or password, or your account is inactive.
        </div>
    {% endif %}

    <div class="title">Log in to memcpy():</div>
    <!-- Bootstrap forms: https://www.w3schools.com/bootstrap/bootstrap_forms.asp -->
    <form class="form-horizontal" method="post" action="{% url 'login' %}">
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="col-md-2 control-label">{{ field.label }}:</label>
                <div class="col-md-4">
                    {{ field | addcss:"form-control input-lg" }}
                </div>
                <div class="col-md-6">
                    <span class="help-inline">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-lg btn-primary">Log in</button>
            </div>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />

        {% for field in form.hidden_fields %}
            {{field}} {{field.errors}}
        {% endfor %}
        {% csrf_token %}
    </form>

{% endblock %}