{% extends 'memcpy/base.html' %}

{% load static %}
{% load nbsp %}
{% block css %}
    <link rel="stylesheet" href="{% static 'memcpy/content.css' %}" />
{% endblock %}

{% block title %}memcpy(): Entry "{{ entry.answer }}"{% endblock %}

{% block main %}
    {{ book.id }}
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'book' book.id %}">
                <button type="submit" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Give up
                </button>
            </a>
        </div>
        <div class="col-md-8">
            <!-- Bootstrap progress bar showing the progress in this book
                 https://www.w3schools.com/bootstrap/bootstrap_progressbars.asp
            -->
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                     aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                     style="width:{{ progress }}%">
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- Create two rows of margin -->
    <div class="row"></div><div class="row"></div>
    <div class="row">
        <!-- Previous button -->
        {% if prev_id %}
            <div class="col-md-2 align-right">
                <a href="{% url 'entry' prev_id %}">
                    <button class="btn btn-lg btn-default align-right">
                        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>&nbsp;Previous
                    </button>
                </a>
            </div>
        {% else %}
            <div class="col-md-2"></div>
        {% endif %}


        <div class="col-md-8">
            <!-- Bootstrap tables: https://www.w3schools.com/bootstrap/bootstrap_tables.asp -->
        {{ entry_list.entry_index.answer }}
        {{ entry_index }}
            <table class="table">
                <tbody>

                        <td class="entry_label">{{ book.question_label }}</td>
                        <td class="entry_question">
                            {% if entry.question_image %}
                                <div>{{ entry.question_text | nbsp | linebreaksbr }}</div>

                            {% endif %}

                        </td>
                        <td>
{#                            <div class="col-md-12">#}
                            {% if entry.question_image %}
                                <div><img class="flashcard_table img-rounded" src="{% url 'entry_photo' entry.id %}"></div>
                            {% endif %}
{#                            </div>#}
                        </td>


                <tr>
                    <td class="entry_label">Choose one  {{ book.answer_label }}</td>
                        <td><a href="{% url 'quiz-entries' book.id entry_index%}">
                            <button class="btn btn-lg btn-default align-left">
                                A.
                            </button>
                            <td class="entry_answer"> {{ answer_candidate_2.answer }}</td>


                        <td><a href="{% url 'quiz-entries' book.id entry_index%}">
                            <button class="btn btn-lg btn-default align-left">
                                B.
                            </button>
                            <td class="entry_answer"> {{ answer_candidate_3.answer }}</td>
                        </td>
                </tr>
                <tr>

                    <td class="col-md-2"></td>
                        <td><a href="{% url 'quiz-entries' book.id entry_index%}">
                            <button class="btn btn-lg btn-default align-left">
                                C.
                            </button>
                            <td class="entry_answer"> {{ answer_candidate_1.answer }}</td>
                        </td>

                        <td><a href="{% url 'quiz-entries' book.id entry_index%}">
                            <button class="btn btn-lg btn-default align-left">
                                D.
                            </button>
                            <td class="entry_answer"> {{ answer_candidate_4.answer }}</td>
                        </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
