{% extends 'memcpy/base.html' %}

{% load static %}
{% load nbsp %}
{% block css %}
    <link rel="stylesheet" href="{% static 'memcpy/content.css' %}" />
{% endblock %}

{% block title %}memcpy(): Entry "{{ entry.answer }}"{% endblock %}

{% block main %}
    {{ book.id }}
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'book' book.id %}">
                <button type="submit" class="btn btn-lg btn-primary">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;Give up
                </button>
            </a>
        </div>
        <div class="col-md-8">
            <!-- Bootstrap progress bar showing the progress in this book
                 https://www.w3schools.com/bootstrap/bootstrap_progressbars.asp
            -->
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                     aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                     style="width:{{ progress }}%">
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- Create two rows of margin -->
    <div class="row"></div><div class="row"></div>
    <div class="row">
        <!-- Previous button -->
        {% if prev_id %}
            <div class="col-md-2 align-right">
                <a href="{% url 'entry' prev_id %}">
                    <button class="btn btn-lg btn-default align-right">
                        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>&nbsp;Previous
                    </button>
                </a>
            </div>
        {% else %}
            <div class="col-md-2"></div>
        {% endif %}


        <div class="col-md-">
            <!-- Bootstrap tables: https://www.w3schools.com/bootstrap/bootstrap_tables.asp -->
        {{ entry_list.entry_index.answer }}
        {{ entry_index }}
            <table class="table">
                <tbody>
                    <tr>
                        <td class="entry_label">{{ book.answer_label }}</td>
                        <td class="entry_answer">{{ entry.answer }}</td>
                    </tr>
                    <tr>
                        <td class="entry_label">{{ book.question_label }}</td>
                        <td class="entry_question">
                            {% if entry.question_image %}
                                <div>{{ entry.question_text | nbsp | linebreaksbr }}</div>
                            {% endif %}
                            {% if entry.question_image %}
                                <div><img class="entry_table img-rounded" src="{% url 'entry_photo' entry.id %}"></div>
                            {% endif %}
                        </td>
                    </tr>
                    <!-- Flashcards -->
                    <tr>
                        <td class="entry_label">{{ flashcard_list.count }} Flashcards</td>
                        <td class="entry_flashcard">

                            <!-- TODO: Display vertically for now. Try to use some cover flow techniques later -->
                            {% for flashcard in flashcard_list %}
                                <!-- TODO: Should be a form for 'selecting' this flashcard -->
                                <a href="#">
                                    <div class="thumbnail">
                                        {% if flashcard.image %}
                                            <img class="flashcard_table img-rounded" src="{% url 'flashcard_photo' flashcard.id %}">
                                        {% endif %}
                                        <div class="caption title">{{ flashcard.text }}</div>
                                    </div>
                                </a>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Next or finish button -->
        {% if next_entry %}
            <div class="col-md-2 align-left">
                <a href="{% url 'quiz-entries' book.id entry_list entry_index  %}">
                    <button class="btn btn-lg btn-default align-left">
                        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>&nbsp;Next
                    </button>
                </a>
            </div>
        {% else %}
            <div class="col-md-2 align-left">
                <a href="{% url 'quiz' %}">
                    <button class="btn btn-lg btn-default align-left">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>&nbsp;Finish!
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
