{% extends 'memcpy/base.html' %}

{% load static %}
{% load nbsp %}
{% block css_js %}
    <link rel="stylesheet" href="{% static 'memcpy/content.css' %}" />
    <script src="{% static 'memcpy/quiz.js' %}" type="text/javascript"></script>
    <!-- jQuery UI for popup Dialogs -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" />
{% endblock %}
{% block onload_function %}
    quizLoad({{ book.id }})
{% endblock %}

{% block title %}memcpy(): Quiz from book "{{ book.title }}"{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-2 align-right">
            <a href="{% url 'book' book.id %}">
                <button class="btn btn-lg btn-danger btn-no-margin-right">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;Exit quiz
                </button>
            </a>
        </div>
        <div class="col-md-8">
            <div class="title">Quiz from book "{{ book.title }}"</div>
        </div>
        <div class="col-md-2">Your Score</div>
    </div>

    <div class="row">
        <!-- Left column -->
        <div id="quiz-progress-text" class="col-md-2 align-right"></div>
        <!-- Middle column -->
        <div class="col-md-8">
            <!-- Put progress bar and table in two inner rows so that their formatting can be independent of timer -->
            <div class="row">
                <!-- Bootstrap progress bar showing the progress in this quiz
                     https://www.w3schools.com/bootstrap/bootstrap_progressbars.asp
                -->
                <div class="col-md-12">
                    <div class="progress">
                        <div id="quiz-progress-bar" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- JavaScript debug zone XD -->
                    <div id="js-debug"></div>
                    <!-- Bootstrap tables: https://www.w3schools.com/bootstrap/bootstrap_tables.asp -->
                    <!-- The whole table content is now handled by JavaScript -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="entry_label">{{ book.question_label }}</td>
                                <td colspan="2" class="entry_question">
                                    <div id="quiz-question-text"></div>
                                    <div id="quiz-question-image"></div>
{#                                    {% if entry.question_text %}#}
{#                                        <div>{{ entry.question_text | nbsp | linebreaksbr }}</div>#}
{#                                    {% endif %}#}
{#                                    {% if entry.question_image %}#}
{#                                        <div><img class="entry_table img-rounded" src="{% url 'entry_photo' entry.id %}"></div>#}
{#                                    {% endif %}#}
                                </td>
                            </tr>

                            <tr>
                                <td class="entry_label">Choose one {{ book.answer_label }}</td>
                                <td>
                                    <div class="row">
                                        <a href="#">
                                            <button id="quiz-candidate-btn-1" class="btn btn-lg btn-default align-left candidate">
                                                <span class="text-muted">1. </span>
                                                <span id="quiz-candidate-text-1"></span>
                                                <span id="quiz-candidate-mark-1" aria-hidden="true"></span>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#">
                                            <button id="quiz-candidate-btn-3" class="btn btn-lg btn-default align-left candidate">
                                                <span class="text-muted">3. </span>
                                                <span id="quiz-candidate-text-3"></span>
                                                <span id="quiz-candidate-mark-3" aria-hidden="true"></span>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <a href="#">
                                            <button id="quiz-candidate-btn-2" class="btn btn-lg btn-default align-left candidate">
                                                <span class="text-muted">2. </span>
                                                <span id="quiz-candidate-text-2"></span>
                                                <span id="quiz-candidate-mark-2" aria-hidden="true"></span>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#">
                                            <button id="quiz-candidate-btn-4" class="btn btn-lg btn-default align-left candidate">
                                                <span class="text-muted">4. </span>
                                                <span id="quiz-candidate-text-4"></span>
                                                <span id="quiz-candidate-mark-4" aria-hidden="true"></span>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Right column -->
        <div class="col-md-2 timer" id="timer"></div>
    </div>

    <!-- jQuery UI popup Dialogs -->
    <div id="quiz-dialog" title="Quiz Result"></div>
{% endblock %}
