{% extends 'memcpy/base.html' %} 
{% load static %}
 {% block main %} 
<div class="container"> 
    <h1>Edit Profile</h1> 
    <hr> 	<div class="row">       <!-- left column --> 
        <div class="col-md-3"> 
            <div class="text-center"> 
                {% if user.profile.picture %} 
                <img src="{% url 'profile_photo' user %}" width = 150px height = 150px> 
                {% else %} 
                <img src= "{% static 'memcpy/default_user.png' %}" width = 150px height = 150px> 
                {% endif %}  
                <form enctype="multipart/form-data" action="{% url 'upload_photo' user%}" method="post"> 
                    <table> 
                    {% for field in form_image.visible_fields %} 
                    <tr> 
                        <td>{{field.label_tag}}</td> 
                        <td>{{field}}</td> 
                        <td class="error"> 
                            {% for error in field.errors %}
                            {{error}}
                            {% endfor %} 
                        </td> 
                    </tr> 
                    {% endfor %} 
                    <tr><td colspan="3"><input type="submit" value="Upload"></td></tr> </table> 
                    {% csrf_token %} </form> 
            </div>       </div>        <!-- edit form column --> 
        <div class="col-md-9 personal-info"> 
            <h3>Personal info</h3>  
            <div class="form-group"> 
                <div class="col-lg-8"> 
                    <form method="post" action="{% url 'update-profile' %}"> 
                        <table> 
                            {{form}} 
                        </table> 
                        {% csrf_token %} 
                        <input type="submit" class="btn btn-primary" value="Save Changes"> 
                        <span></span> 
                        <input type="reset" class="btn btn-default" value="Cancel"> 
                    </form> 
                </div> 
            </div> 
            </div>
             {% endblock %}
